.homeContainer {
  background-color: var(--secondary-color);
  height: 100vh;
}

.cardsField {
  height: calc(100% - 4.5rem);
  padding: 6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
}

.loadingData {
  display: flex;
  height: calc(100% - 4.5rem);
  width: 100%;
  align-items: center;
  justify-content: center;
}