.modalContainer {
  width: 22rem;
  height: 12rem;
  border-radius: 0.6rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 99999;
  overflow: auto;
}

.modalTitle {
  margin: 0;
  font-size: 1.3rem;
}

.modalBody {
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.modalFooter button {
  border: none;
  margin: 0.3rem;
  background-color: var(--text-color);
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: white;
}
.modalFooter button:hover {
  filter: brightness(1.5);
}